<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>261783605700-0nmde623fth7o9970scv22du7kg5gobs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_c0kA6rRmoakt5u0x_30l4fgmQ1byejg</string>
	<key>GCM_SENDER_ID</key>
	<string>261783605700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hare.hotel</string>
	<key>PROJECT_ID</key>
	<string>hare-89094</string>
	<key>STORAGE_BUCKET</key>
	<string>hare-89094.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261783605700:ios:10e0a016218e739f6c5491</string>
	<key>DATABASE_URL</key>
	<string>https://hare-89094-default-rtdb.firebaseio.com</string>
</dict>
</plist>